@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #191919;
}
.App {
  height: 100%;
}
li {
  list-style-type: none;
}
.section-title {
  color: #c9ac8c;
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.accountImgBack {
  height: 28px;
  width: 28px;
  background-image: url("./images/default.webp");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  cursor: pointer;
}
.profileImgUploadInput {
  display: none;
}
.accountImgBack .account-img {
  width: 100%;
  height: 100%;
}

.account-img {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 50%;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  border-bottom: 3px solid #fff;
  background: #191919;
}
.nav-item {
  list-style-type: none;
  color: #fff !important;
  position: relative;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 144.4%;
}

.nav-item:hover .nav-link {
  cursor: pointer;
  color: #c9ac8c;
  transition: 0.5s;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.active {
  color: #c9ac8c;
}

.hero-box {
  position: relative;
  height: 350px;
  border-radius: 21px;
  background: linear-gradient(
    89deg,
    #263a3d 70.78%,
    rgba(25, 25, 25, 0) 105.05%
  );
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  overflow: hidden;
}

.hero-img {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -5;
}
.hero-symbol {
  position: absolute;
  opacity: 0.5;
  left: 0;
  bottom: 0px;
  width: 200px;
}
.hero-title {
  color: #c9ac8c;
  font-family: Rotterburg Stylish FREE;
  font-size: 61px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 40px;
  margin-left: 70px;
}

.search-section {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  position: relative;
  top: -70px;
  border-radius: 15px;
  background: #191919;
  box-shadow: 0px 4px 77px 0px rgba(0, 0, 0, 0.25);
}
.input {
  width: 80%;
  display: flex;
  margin: 25px auto;
  justify-content: space-between;
}

.search-input {
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 15px;
  background: #404040;
  border: #404040;
  outline: none;
  color: #fff;
}
.search-button {
  width: 18%;
  height: 50px;
  border-radius: 15px;
  background: #c9ac8c;
  color: #3c2710;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  border: none;
  cursor: pointer;
}
.bx-search-alt-2 {
  margin-right: 8px;
}
.literature-nav {
  width: 60%;
  margin: 25px auto;
  display: flex;
  justify-content: space-between;
}
.literature-nav-item {
  color: #fff;
}
.literature-nav-item:hover {
  cursor: pointer;
  color: #c9ac8c;
}
.card-list {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  flex-flow: wrap;
}
.card-item {
  width: 150px;
  margin: 5px;
  border-radius: 15px;
  text-align: center;
  border: 1px solid #cccccc23;
}
.card-item:hover {
  cursor: pointer;
  scale: 0.9;
  transition: 0.5s;
}
.card-img {
  width: 100%;
}
.card-name {
  color: #c9ac8c;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 45px;
}
.card-years {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  margin: 10px auto;
  line-height: norma l;
}
.books {
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
  align-items: center;
}
.bxs-book,
.bx-headphone,
.audioBook,
.book-number {
  color: #fff;
}
.bxs-book,
.bx-headphone {
  margin-right: 5px;
}

.menu-button {
  background: transparent;
  outline: none;
  display: none;
  border: none;
}
.menu-button .bx-menu {
  color: #c9ac8c;
  font-size: 35px;
  font-weight: bold;
}

.category-button {
  display: none;
}
.sidebar {
  display: none;
}

.thumb-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 80;
  width: 30%;
  height: 5px;
  z-index: 10;
  margin-top: 15px;
  margin-left: 70px;
}
.thumb-item {
  width: 20%;
  height: 10px;
  background-color: #4e4e4e;
  transition: 0.8s;
}
.thumb-item.active {
  background: #fff;
}
.thumb-item:hover {
  cursor: pointer;
  background-color: #fff;
}

.logInSection,
.signInSection {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  background: red;
  display: flex;
  align-items: center;
}
.logInLeft,
.signInLeft {
  width: 50%;
  height: 100%;
  background: #c9ac8c;
  position: relative;
}
.logInLeftImg,
.signInLeftImg {
  width: 70%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.logInRight,
.signInRight {
  width: 50%;
  height: 100%;
  background: #fff;
  position: relative;
}

.logInForm,
.signInForm {
  width: 70%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.logInTitle,
.signInTitle {
  color: #000;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 10px;
}
.questionText {
  color: #000;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
}
.innerQuestionText {
  color: #549ff9;
  cursor: pointer;
}

.FormInput,
.logBtn {
  display: block;
  width: 80%;
  height: 46px;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 5px 20px;
  border: 1px solid #b4b4bb;
  background: #ffffff;
  margin-bottom: 20px;
}

.logBtn {
  cursor: pointer;
  border-radius: 99px;
  background: #152540;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  font-family: "Open Sans", sans-serif;
}
.user-left {
  width: 45px;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
.profileToolBar {
  position: absolute;
  background: #191919;
  overflow: hidden;
  z-index: 75;
  right: 0;
  top: 45px;
  width: 0px;
  height: 0px;
  border: 1px solid #191919;
  transition: 0.5s;
  text-align: center;
}
.profileToolBarBlock {
  height: 150px;
  width: 150px;
}
.profileToolBarItem {
  color: #fff;
  cursor: pointer;
  width: 110px;
  margin: 10px auto;
}
.profileToolBarItem:hover {
  color: #c9ac8c;
}

.bx-chevron-up,
.bx-chevron-down {
  color: #c9ac8c;
}
.toolbarX {
  display: none;
}

.profilenavbar {
  display: flex;
  justify-content: space-between;
  width: 98%;
  align-items: center;
  padding: 10px;
}

.profileSection {
  width: 100%;
  background: #f3f6f9;
  height: 100%;
}
.myProfileNavList {
  display: flex;
  width: 70%;
  justify-content: space-between;
  padding: 0 20px;
}
.profileNavItemHeader {
  color: #464e5f;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
.profileNavItemHeader:hover {
  color: #152540;
}
.myProfileNavItemNumber {
  margin-right: 10px;
  padding: 8px 14px;
  color: #3699ff;
  font-weight: 600;
  border-radius: 4px;
  background: #e5eaee;
}

.myProfileNavItem.active .myProfileNavItemNumber {
  background-color: #152540;
  color: #fff;
}
.myProfileNavItem.active .profileNavItemHeader {
  color: #152540;
}
.backFromProfile {
  cursor: pointer;
}
.bx-arrow-back {
  color: #152540;
  font-size: 25px;
}
.profileMain {
  display: flex;
  justify-content: space-evenly;
  margin: 50px auto;
}
.profileInfo {
  width: 25%;
  padding: 20px;
  margin-bottom: 25px;
  box-shadow: 3px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.profileImgBack {
  position: relative;
  width: 200px;
  height: 200px;
  background-image: url("./images/default.webp");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
}
.profileImgUploadLabel {
  position: absolute;
  z-index: 50;
  bottom: 0;
  right: 0;
}
.profileImgUploadLabel:hover {
  scale: 1.08;
  cursor: pointer;
}
.bxs-camera-plus {
  font-size: 25px;
  text-align: center;
  align-items: center;
  padding: 10px;
  background-color: #ccc;
  border-radius: 8px;
}
.profileImg {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.myProfile-header {
  color: #212121;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.myProfileTitle {
  color: #464e5f;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 32px;
}
.myProfileInfo {
  color: #464e5f;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 20px;
}
.bx-menu-alt-right,
.bx-menu-alt-left {
  display: none;
}
.notFoundPage {
  height: 100%;
  width: 100%;
  background-color: #fff;
  padding: 20px;
}
.notFoundPage .section-title {
  font-weight: 600;
  text-align: left;
  margin-left: 50px;
  margin-top: 50px;
}
.notFoundPageSorry,
.notFoundPageTitle,
.notFoundPageText {
  margin-left: 100px;
  width: 40%;
  margin-top: 20px;
}
.notFoundPageSorry {
  margin-top: 50px;
}
.bx-message-rounded-error {
  position: absolute;
  font-size: 230px;
  right: 150px;
  top: 180px;
  color: #c9ac8c;
}

.signInPasswordCheck {
  color: red;
  font-size: 10px;
  transition: 0.5s;
  position: absolute;
  top: 0;
  text-align: right;
  width: 80%;
  top: 218px;
}
.signUpEmailCheck {
  width: 80%;
  color: red;
  position: absolute;
  font-size: 10px;
  bottom: 135px;
}

@media screen and (max-width: 770px) {
  .notFoundPageSorry,
  .notFoundPageTitle,
  .notFoundPageText {
    margin: 0 auto;
    width: 90%;
  }
  .bx-message-rounded-error {
    position: static;
    font-size: 30px;
  }
  .notFoundPage .section-title {
    margin: 0 auto;
    width: 90%;
  }
  .navbar {
    display: none;
  }
  .container {
    width: 576px;
  }

  .header {
    border: none;
    padding: 0;
    text-align: center;
  }

  .sidebar {
    display: block;
    position: relative;
  }
  .section-title {
    margin: 0 auto;
  }

  .profileToolBar {
    position: fixed;
    text-align: center;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition: 0.8s;
    width: 100%;
    z-index: 855;
    height: 100%;
    background-color: rgba(0, 0, 0);
    transform: translate(-100%);
  }
  .profileToolBarItem {
    margin: 15px auto;
  }
  .profileToolBarBlock {
    transform: translate(0);
  }

  .toolbarX {
    position: absolute;
    display: block;
    right: 15px;
    top: 10px;
  }
  .bx-x {
    color: #fff;
  }
  .bx-x:hover {
    color: #c9ac8c;
  }
  .sidebar .header .section-title {
    display: none;
  }
  .sidebar .header .navbar {
    display: block;
    margin: 45px auto;
  }

  .sidebar .header .navbar .nav-item {
    font-size: 25px;
    margin-bottom: 25px;
  }

  .user-left {
    position: absolute;
  }

  .sidebar .header .user-left {
    display: none;
  }

  .section-title {
    font-size: 18px;
  }
  .menu-button {
    display: block;
    cursor: pointer;
    margin-left: 10px;
  }
  .sidebar {
    position: fixed;
    text-align: center;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition: 0.8s;
    width: 100%;
    z-index: 855;
    height: 100%;
    background-color: rgba(0, 0, 0);
  }
  .sidebarTransformOpen {
    transform: translate(0);
    /* transition: 2s; */
  }
  .sidebarTransformClose {
    transform: translate(100%);
    /* transition: 2s; */
  }
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 15px;
  }

  .close-Sidebar {
    position: absolute;
    right: 30px;
    top: 20px;
    padding: 5px;
    background-color: transparent;
    outline: none;
    border: none;
  }
  .bx-x {
    color: #c9ac8c;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
  }
  .hero-box {
    width: 90%;
  }
  .hero-img {
    display: none;
  }
  .hero-title {
    font-size: 33px;
    text-align: center;
    margin: 90px 0 auto;
  }
  .search-section {
    width: 80%;
    height: 100px;
    background: #191919;
  }
  .input {
    width: 100%;
    margin: 15px auto;
  }
  .search-input {
    width: 100%;
    height: 30px;
    font-size: 15px;
    border-radius: 8px;
  }
  .search-button {
    height: 30px;
    font-size: 15px;
    border-radius: 8px;
    width: 28%;
  }
  .literature-nav {
    overflow: hidden;
    display: block;
  }
  .literature-nav-item {
    display: block;
  }
  .main-category-title {
    margin-bottom: 25px;
  }
  .literature-nav {
    height: 0;
    background-color: #191919;
    overflow: hidden;
    transition: 0.8s;
    text-align: center;
  }
  .literature-nav_open {
    height: 120px;
    padding: 15px 25px;
    border: 1px solid #c9ac8c;
  }
  .category-button {
    display: inline;
    height: 35px;
    width: 35px;
    margin-left: 25px;
    background-color: transparent;
    outline: none;
    border: 1px solid #3c2710;
  }
  .header .bx-chevron-down,
  .header .bx-chevron-up {
    display: none;
  }
  .sidebar .menu-button {
    display: none;
  }

  .bx-chevron-down,
  .bx-chevron-up {
    font-size: 25px;
    font-weight: bold;
    color: #c9ac8c;
  }

  .bx-menu-alt-right {
    display: block;
    font-size: 30px;
  }
  .bx-menu-alt-left {
    display: block;
    font-size: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
  }
  .myProfileNavList {
    position: fixed;
    display: block;
    text-align: left;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background-color: #fff;
    transition: 0.5s;
    transform: translate(100%);
  }
  .myProfileNavListOpen {
    transform: translate(0);
  }
  .myProfileNavItem {
    margin: 25px auto;
  }
  .profileMain {
    display: block;
    width: 90%;
    margin: 25px auto;
  }
  .profileInfo {
    width: 90%;
    margin: 25px auto;
  }
  .profileImgBack {
    width: 100px;
    height: 100px;
  }
  .bxs-camera-plus {
    font-size: 15px;
    padding: 5px;
  }
}

@media screen and (max-width: 640px) {
  .signInPasswordCheck {
    width: 90%;
    left: -10px;
    top: 240px;
    text-align: center;
  }
  .signUpEmailCheck {
    width: 90%;
    text-align: left;
    bottom: 135px;
  }
  .profileImgBack {
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .thumb-box {
    width: 70%;
    margin: 40px auto;
  }
  .card-item {
    width: 45%;
    overflow: hidden;
  }
  .card-name {
    width: 90%;
    font-size: 20px;
    margin: 0 auto;
    height: 80px;
  }
  .card-years {
    font-size: 18px;
  }
  .bxs-book,
  .bx-headphone,
  .audioBook,
  .book-number {
    font-size: 20px;
  }
  .logInLeft,
  .signInLeft {
    display: none;
  }
  .logInRight,
  .signInRight {
    width: 100%;
    text-align: center;
  }
  .FormInput,
  .logBtn {
    width: 90%;
    margin: 25px auto;
  }
  .sidebar .menu-button {
    display: none;
  }

  .signInPasswordCheck {
    width: 90%;
    top: 230px;
    right: -20px;
    text-align: right;
    left: 0;
  }

  .signUpEmailCheck {
    width: 90%;
    text-align: right;
    bottom: 145px;
  }
}

@media screen and (max-width: 400px) {
  .card-item {
    width: 100%;
  }
  .card-name {
    font-size: 25px;
    height: 50px;
  }
  .card-years {
    font-size: 20px;
    margin: 15px auto;
  }
  .books {
    width: 80%;
  }
  .bxs-book,
  .bx-headphone,
  .audioBook,
  .book-number {
    font-size: 25px;
  }
  .logInTitle,
  .signInTitle {
    font-size: 20px;
    font-weight: bold;
  }
  .questionText {
    font-size: 15px;
  }
  .FormInput,
  .logBtn {
    height: 30px;
    margin: 25px auto;
  }
  .logBtn {
    font-size: 15px;
    height: 45px;
    padding: 0;
  }
  .signInPasswordCheck {
    width: 90%;
    top: 180px;
    right: -20px;
    text-align: right;
    left: 0;
  }
  .signUpEmailCheck {
    width: 90%;
    text-align: right;
    bottom: 130px;
  }
}
@media screen and (max-width: 360px) {
  .signInPasswordCheck {
    width: 90%;
    top: 200px;
    text-align: right;
  }
}
